<div class='row row-cols-1 row-cols-md-3 g-4'>
    {{#each blogPost}}
        <div class='col'>
            <div class='card h-100'>
                <a href='/blog/{{this.slug}}'>
                    <img
                        src={{this.image}}
                        class='card-img-top'
                        alt='{{this.name}}'
                    /></a>
                <div class='card-body'>
                    <a href='/blog/{{this.slug}}'>
                        <h5 class='card-title'>{{this.name}}</h5>
                    </a>

                    <p class='card-text'>{{this.description}}</p>
                </div>
            </div>
        </div>
    {{/each}}
</div>